<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://previewcinemas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>previewcinemas.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PreviewCinemas</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PreviewCinemas</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CinemaContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:t1tjyxo4kx.database.windows.net,1433;Initial Catalog=PreviewAal0c7H4E;User ID=Conork23@t1tjyxo4kx;Password=Ck5016123" Name="Data Source=tcp:t1tjyxo4kx.database.windows.net,1433;Initial Catalog=PreviewAal0c7H4E;User Id=Conork23@t1tjyxo4kx;Password=Ck5016123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PreviewCinemas.Models.ApplicationDbContext, PreviewCinemas" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CinemaContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:t1tjyxo4kx.database.windows.net,1433;Initial Catalog=PreviewAal0c7H4E;User Id=Conork23@t1tjyxo4kx;Password=Ck5016123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>