body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

.times{
    border-radius:10px;
    font-weight:700;
    background-color:#0d1572;
    padding:8px;
    width:55px;
    margin-right:8px;
    margin-bottom:8px;
    float:left;
}

.times:hover{
    background-color:#024379;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}



.searchFrom{
    margin-bottom:5px;
}

#searchBtn{
    float:right;
}

#searchLbl{
    text-align:center;
}

#aboutTxt{
    font-size:1.25em;
}

.MovDisplay{
    width :150px;
    float:left;
    margin: 30px;
    height: 225px;
}

.MovDisplay:hover{
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}





/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
